{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "amd":true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": false,
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": ["warn", "always"]
  },
  "globals":{

  }
}